#header-nav{
	background-color: #2D2D2D;
	border-radius: 0;
	border: 0;
}

h1{
	color: white;
	margin-left: -100%;
	margin-bottom: 18%;
	margin-top: 10%;
}

h2{
	margin-top: 1%;
	color: black;
	font-size: 35px;
}

.h3{
	font-size: 35px;
}

p{
	font-size: 15px;
}

.chicken{
	margin-top: 20px;
	background-color: yellow;
	border: 2px solid black;
	padding: 0px 10px 10px 10px;
}

.beef{
	margin-top: 20px;
	background-color: red;
	border: 2px solid black;
	padding: 0px 10px 10px 10px;
}

.sushi{
	margin-top: 20px;
	background-color: aqua;
	border: 2px solid black;
	padding: 0px 10px 10px 10px;
}

#content1{
	margin-left: 0px;
	padding: 15px 20px 10px 20px;
}

#content2{
	margin-left: 0px;
	padding: 15px 20px 10px 20px;
}

#content3{
	margin-left: 0px;
	padding: 15px 20px 10px 20px;
}

@media (min-width: 992px){
	.hidden-lg{
		display:none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-md{
		display:none;
	}

	h1{
		color:white;
		margin-left: 40%;
		margin-bottom: 12%;
		margin-top: 8%;
		font-size: 25px;
	}
}

@media (max-width: 767px) {
	h1{
	color: white;
	margin-left: 8%;
	margin-bottom: 10%;
	margin-top: 5%;
}

	.button1{
		margin-top: -20%;	
	}
}
